.socials-cont{
    text-align: center;
    padding-top: 50px;
    background-color: #fbefe27a;
    height: 200px;
}
.socials-cont h2{
    font-size: 40px;
}
.social-icons{
   margin-left: 30px;
}
.social-icons--cont{
    margin-left: -30px;
    padding-top: 20px;
}



@media(max-width:600px){

    .socials-cont{
        text-align: center;
        padding-top: 50px;
        background-color: #fbefe27a;
        height: 200px;
    }
    .socials-cont h2{
        font-size: 25px;
    }
    .social-icons{
       margin-left: 30px;
    }
    .social-icons--cont{
        margin-left: -30px;
        padding-top: 20px;
    }
}